PORT=5000
MONGO_URI=mongodb+srv://usuario:<contra>@db-etc

CLOUDINARY_CLOUD_NAME=namr
CLOUDINARY_API_KEY=123
CLOUDINARY_API_SECRET=ab12

#Credecial de Oauth de google, que se utiliza para autentificarnos con los servidores de google. Se crea en la consola de GCP
GOOGLE_CLIENT_ID=''
#Esta es la contraseña la usamos para hablar con nuestro servidor y asegurarnos de que los tokens de google que estamos viendo son legítimos.Añadi esta varible en los controlers, modelo de usuario y el ruta de autentificación
JWT_SECRET=micontraseñasupersecreta707